*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform:capitalize;
}

.header-container{
    display: flex;
    justify-content: space-around;
    background-color:#3161e0;
    height: 80px;   
}

.item-container{
    display: flex;
    gap: 50px;
}

#login{
    background-color: white;
    border-radius: 10px;
    border: none;
    
}